rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isModerator() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'moderator';
    }

    function isOneOf(field, values) {
      return request.resource.data[field].matches(values);
    }

    function isValidPostCategory() {
      return isOneOf('category', 'books|courses|examples|lessons|posts|questions|references');
    }

    function isValidLanguage() {
      return isOneOf('language', 'en|pt');
    }

    function isValidProfile(field) {
      return get(/databases/$(database)/documents/profile/$(request.auth.uid)).data.bio == request.resource.data[field].bio
        && get(/databases/$(database)/documents/profile/$(request.auth.uid)).data.name == request.resource.data[field].name
        && get(/databases/$(database)/documents/profile/$(request.auth.uid)).data.photo == request.resource.data[field].photo
        && get(/databases/$(database)/documents/profile/$(request.auth.uid)).data.username == request.resource.data[field].username
      ;
    }

    match /{category}/{categoryId}/likes/{createdById} {
      allow get, create, update: if request.auth.uid == createdById;
    }

    match /{category}/{categoryId}/leaderboard/{createdById} {
      allow get;
      allow list: if request.query.limit <= 20;
    }

    match /activity/{id} {
      allow get;
      allow list: if request.query.limit <= 20;
    }

    match /chapters/{id} {
      allow get;
      allow list;
      allow create:
        if request.auth.uid != null
        && request.resource.data.comments == 0
        && request.resource.data.createdAt == request.time
        && isValidProfile('createdBy')
        && request.resource.data.createdById == request.auth.uid
        && request.resource.data.description is string
        && request.resource.data.description.size() <= 500
        && request.resource.data.examples is list
        && request.resource.data.examples.size() <= 20
        && request.resource.data.lessons is list
        && request.resource.data.lessons.size() <= 20
        && request.resource.data.likes == 0
        && request.resource.data.title is string
        && request.resource.data.topics is list
        && request.resource.data.topics[0] is string
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
        && isValidLanguage()
      ;
      allow update:
        if request.auth.uid != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['description', 'examples', 'lessons', 'title', 'topics', 'updatedAt', 'updatedBy', 'updatedById'])
        && request.resource.data.description is string
        && request.resource.data.description.size() <= 500
        && request.resource.data.examples is list
        && request.resource.data.examples.size() <= 20
        && request.resource.data.lessons is list
        && request.resource.data.lessons.size() <= 20
        && request.resource.data.title is string
        && request.resource.data.topics is list
        && request.resource.data.topics[0] is string
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
      ;
      allow delete: if isAdmin() || isModerator();

      match /progress/{userId} {
        allow get, create, update: if request.auth.uid == userId;
      }
    }

    match /comments/{commentId} {
      allow list;
      allow get;
      allow create:
        if request.auth.uid != null
        && request.resource.data.content is string
        && request.resource.data.content.size() > 0
        && request.resource.data.createdAt == request.time
        && isValidProfile('createdBy')
        && request.resource.data.createdById == request.auth.uid
        && request.resource.data.likes == 0
        && exists(/databases/$(database)/documents/posts/$(request.resource.data.postId))
        && request.resource.data.replies == 0
        && request.resource.data.topics == get(/databases/$(database)/documents/posts/$(request.resource.data.postId)).data.topics
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
        && isValidLanguage()
      ;
      allow delete: if request.auth.uid == resource.data.createdById;
    }

    match /feedback/{id} {
      allow read: if isAdmin();
      allow create: if request.auth == null || request.auth.uid == request.resource.data.uid;
    }

    match /leaderboard/{createdById} {
      allow get;
      allow list: if request.query.limit <= 20;
    }

    match /posts/{activityId} {
      allow get;
      allow list: if request.query.limit <= 50;
      allow create:
        if request.auth.uid != null
        && isValidPostCategory()
        && request.resource.data.comments == 0
        && request.resource.data.content is string
        && request.resource.data.createdAt == request.time
        && isValidProfile('createdBy')
        && request.resource.data.createdById == request.auth.uid
        && !('editors' in request.resource.data)
        && !('editorsData' in request.resource.data)
        && isValidLanguage()
        && request.resource.data.likes == 0
        && (request.resource.data.links == null || request.resource.data.links.size() == 0 || (request.resource.data.links is list && request.resource.data.links[0] is string))
        && request.resource.data.title is string
        && request.resource.data.topics is list
        && request.resource.data.topics[0] is string
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
      ;
      allow update:
        if request.auth.uid != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['content', 'cover', 'links', 'title', 'topics', 'updatedAt', 'updatedBy', 'updatedById'])
        && request.resource.data.content is string
        && (!isOneOf('category', 'posts|questions') || resource.data.createdById == request.auth.uid)
        && (request.resource.data.links == null || request.resource.data.links.size() == 0 || (request.resource.data.links is list && request.resource.data.links[0] is string))
        && request.resource.data.title is string
        && request.resource.data.topics is list
        && request.resource.data.topics[0] is string
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
      ;
      allow delete:
        if resource.data.createdById == request.auth.uid
        || isAdmin()
        || isModerator() 
      ;
    }

    match /profile/{createdById} {
      allow get;
      allow list: if request.query.limit == 1;
      allow update:
        if request.auth.uid == createdById
        && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['username'])
      ;
    }

    match /replies/{replyId} {
      allow list;
      allow get;
      allow create:
        if request.auth.uid != null
        && exists(/databases/$(database)/documents/comments/$(request.resource.data.commentId))
        && request.resource.data.content is string
        && request.resource.data.createdAt == request.time
        && isValidProfile('createdBy')
        && request.resource.data.createdById == request.auth.uid
        && request.resource.data.likes == 0
        && exists(/databases/$(database)/documents/posts/$(request.resource.data.postId))
        && request.resource.data.topics == get(/databases/$(database)/documents/comments/$(request.resource.data.commentId)).data.topics
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
        && isValidLanguage()
      ;
      allow delete: if request.auth.uid == resource.data.createdById;
    }

    match /reports/{id} {
      allow read: if isAdmin();
      allow create: if request.auth == null || request.auth.uid == request.resource.data.uid;
    }

    match /topics/{id} {
      allow get;
      allow list: if request.query.limit <= 20;
      allow create:
        if request.auth.uid != null
        && request.resource.data.chapters is list
        && request.resource.data.comments == 0
        && request.resource.data.createdAt == request.time
        && isValidProfile('createdBy')
        && request.resource.data.createdById == request.auth.uid
        && request.resource.data.description is string
        && request.resource.data.likes == 0
        && (request.resource.data.photo == null || request.resource.data.photo is string)
        && request.resource.data.posts == 0
        && request.resource.data.title is string
        && request.resource.data.topics is list
        && request.resource.data.topics[0] is string
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
        && isValidLanguage()
      ;
      allow update:
        if request.auth.uid != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['chapters', 'description', 'photo', 'updatedAt', 'updatedBy', 'updatedById'])
        && request.resource.data.chapters is list
        && request.resource.data.description is string
        && request.resource.data.description.size() <= 1000
        && (request.resource.data.photo == null || request.resource.data.photo is string)
        && request.resource.data.updatedAt == request.time
        && isValidProfile('updatedBy')
        && request.resource.data.updatedById == request.auth.uid
      ;
    }

    match /usernames/{username} {
      allow get;
      allow create, update:
        if request.auth.uid != null
        && request.resource.data.uid == request.auth.uid
        && username.matches('^[a-z0-9][a-z0-9_]*([.][a-z0-9_]+)*$')
      ;
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow create, update: if
        request.auth.uid == userId
        && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['bio', 'name', 'photo', 'role', 'username'])
      ;

      match /notifications/{notificationId} {
        allow read: if request.auth.uid == userId;
      }
    }
  }
}
