:root {
  --secondary-color: #f50057;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--secondary-color);
  color: white;
}

body {
  font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

ul,
ol {
  padding: 16px;
}

pre,
code {
  background-color: black;
  color: #f8f8f2;
  border-radius: 3px;
  font-size: 1.1rem;
  overflow: auto;
}

pre {
  padding: 8px;
}

code {
  padding: 4px;
}
